*{
    margin: 0px;
    padding: 0px;
}

.container {
    height: 60vh;
    width: 60%;
    margin-top: 200px;
    
}

.body {
    display: flex;
    justify-content: center;
    background-image: url(pexels-eberhardgross-2310641.jpg);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: black;
    
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-top: 10px;
    padding-left: 300px;
    
}
#height,#weight {
    width: 150px;
  height: 25px;
  margin-top: 30px;
  border-radius: 10px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(183, 207, 103);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color:  rgb(233, 235, 229);
  padding: 1px 30px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  font-size: 25px;
  cursor: pointer;
}
