*{
    padding: 0px;
    margin: 0px;
}

#login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#login{
    background-image: url(pexels-eberhardgross-1612351.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.detail {
    height: 60vh;
    width: 50%;
    
    
    
}

h2,h1{
    text-align: center;
    padding: 10px;
    color: white;
}

input{
    display: block;
    margin-top: 20px;
    height: 40px;
    width: 50%;
    margin-left: 180px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(73, 201, 237,0.3);
}

button{
    margin-top: 20px;
     height: 50px;
    width: 50%;
    margin-left: 180px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    text-transform: capitalize;
}

#cc{
    height: 17px;
    width: 17px;

}

a{
    text-decoration: none;
    color: black;
}

a,p{
    display: inline;
    padding-left: 180px;
    color: white;
}

